.card{
    width: 300px;
    height: 550px;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: black;
    background-color: rgb(253, 240, 215);
    border: black 3px solid;
    box-shadow: 5px 5px 5px grey;
}


.card:hover{
    box-shadow: 1px 1px 1px grey;
    text-decoration: none;
    color: black;
}


.link:hover {
    text-shadow: 1px 1px 1px grey;
    text-decoration: none;
    color: wheat;
}